<div class="details-container" *ngIf="movie() as movie">
    <div class="backdrop" [style.background-image]="'linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'">
      <div class="content">
        <div class="poster">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title">
        </div>
        <div class="info">
          <h1>{{ movie.title }} <span class="year">({{ getYear(movie.release_date) }})</span></h1>
          <p class="tagline">{{ movie.tagline }}</p>
          <div class="genres">
            <span *ngFor="let genre of movie.genres">{{ genre.name }}</span>
          </div>
          
          <div class="score-container">
            <div class="score">
              <div class="score-circle">
                {{ movie.vote_average * 10 | number:'1.0-0' }}°
              </div>
              <span>User Score</span>
            </div>
          </div>

          <div class="overview">
            <h3>Overview</h3>
            <p>{{ movie.overview }}</p>
          </div>

          <div class="details-grid">
            <div class="creator">
              <h3>Director</h3>
              <p>{{ getDirectors(movie) }}</p>
            </div>
            <div class="status">
              <h3>Status</h3>
              <p>{{ movie.status }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="credits-section">
      <div class="credits-content">
        <div class="cast">
          <h2>Top Cast</h2>
          <div class="cast-grid">
            <div class="cast-card" *ngFor="let actor of getTopCast(movie)">
              <div class="profile-image">
                <img 
                  [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : 'assets/images/no-profile.png'"
                  [alt]="actor.name">
              </div>
              <div class="cast-info">
                <h3>{{ actor.name }}</h3>
                <p>{{ actor.character }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="crew">
          <h2>Featured Crew</h2>
          <div class="crew-grid">
            <div class="crew-card" *ngFor="let person of getFeaturedCrew(movie)">
              <div class="profile-image">
                <img 
                  [src]="person.profile_path ? 'https://image.tmdb.org/t/p/w185' + person.profile_path : 'assets/images/no-profile.png'"
                  [alt]="person.name">
              </div>
              <div class="crew-info">
                <h3>{{ person.name }}</h3>
                <p>{{ person.job }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="isLoading()" class="spinner"></mat-spinner>