.movie-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

::ng-deep .mat-mdc-paginator {
  background-color: var(--light-gray);
  color: var(--text-color);
}

::ng-deep .mat-mdc-paginator-container {
  background-color: var(--light-gray);
  color: var(--text-color);
}

