<header class="header">
  <div class="header__items">
    <a [routerLink]="[ '/' ]" class="header__items__logo">
      MoviesApp
    </a>
    <div class="header__items__links">
      <a [routerLink]="[ '/' ]" class="header__items__link">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payments"></mat-icon> -->
        <p>Movies</p>
      </a>
      <a [routerLink]="[ '/' ]" class="header__items__link">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payments"></mat-icon> -->
        <p>TV Shows</p>
      </a>
    </div>
  </div>
</header>